<section>
  <div class="container-xxl px-0 mt-5">
    <div class="arrows position-relative bg-transparent">
      <div class="main-images">
        <div class="card border-0">
          <img src="../../../assets/images/main-1.png" class="card-img d-none d-md-block">
          <img src="../../../assets/images/tea-1.png" class="card-img d-block d-md-none">
          <div class="card-img-overlay row d-none d-md-flex align-items-end w-75 h-75 m-5">
            <h5 class="card-title fw-bold">Скидки на травянные чаи</h5>
            <p class="card-text fs-5">Узай все подробности, заполнив заявку</p>
            <a href="#" class="btn btn-primary m-3">Заполнить</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-xxl">
    <p class="h2">Ответы на часто задаваемые вопросы</p>
    <div class="row justify-content-center">
      <div class="accordion accordion-flush col-xxl-8 col-xl-9 col-lg-11" id="accordionFlushExample">
        <div class="accordion-item mb-3">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                    aria-controls="flush-collapseOne">
              Собираете ли вы подарочные боксы?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse"
               data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на
              любой
              вкус,
              объем и стоимость!
            </div>
          </div>
        </div>
        <div class="accordion-item mb-3">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                    aria-controls="flush-collapseTwo">
              Сколько у вас разновидностей чая?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse"
               data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на
              любой
              вкус,
              объем и стоимость!
            </div>
          </div>
        </div>
        <div class="accordion-item mb-3">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                    aria-controls="flush-collapseThree">
              В какой срок осуществляется доставка?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse"
               data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на
              любой
              вкус,
              объем и стоимость!
            </div>
          </div>
        </div>
        <div class="accordion-item mb-3">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour" aria-expanded="false"
                    aria-controls="flush-collapseFour">
              У вас обновляется ассортимент?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse"
               data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на
              любой
              вкус,
              объем и стоимость!
            </div>
          </div>
        </div>
        <div class="accordion-item mb-3">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFive" aria-expanded="false"
                    aria-controls="flush-collapseFive">
              Какого объема у вас пачки чая?
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse"
               data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на
              любой
              вкус,
              объем и стоимость!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal bg-opacity-10 bg-black d-block"  *ngIf="isShow" >
  <div class="modal-dialog my-5">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body d-block text-center row">
        <h5>Посмотрите наши чайные коллекции</h5>
        <a routerLink="/products" type="button" class="btn btn-primary m-3">Смотреть</a>
      </div>
    </div>
  </div>
</div>
